// https://theme-hope.vuejs.press/config/style.html
// config.scss is used for pure variable config, palette.scss is used for CSS variable injecting

$colors: #c0392b, #d35400, #f39c12, #27ae60, #16a085, #2980b9, #8e44ad, #2c3e50, #7f8c8d !default;

$content-width: 1000px;

$font-family: 'Soleil, -apple-system, "Nimbus Roman No9 L", "PingFang SC", "Hiragino Sans GB", sans-serif';
$font-family-heading: 'Soleil, -apple-system, "Nimbus Roman No9 L", "PingFang SC", "Hiragino Sans GB", sans-serif';
$font-family-fancy: 'Soleil, -apple-system, "Nimbus Roman No9 L", "PingFang SC", "Hiragino Sans GB", sans-serif';

$pc: 1440px;
$laptop: 1280px;
$pad: 959px;
$tablet: 768px;
$mobile: 480px;
