header.vp-navbar {
  border-bottom: $navbar-sidebar-border-color;
  border-bottom-style: solid;
  border-bottom-width: 1px;

  backdrop-filter: saturate(200%) blur(5px);

  $font-size: 1rem;
  .nav-dropdown {
    font-size: #{$font-size};

    .nav-link {
      font-size: #{$font-size};
      padding-bottom: 0.2rem;
    }
  }

  .nav-item {
    font-size: #{$font-size};
  }

  .search-pro-button {
    max-width: 250px;
    border-radius: 0%;
  }

  .search-pro-key-hints {
    margin-left: clamp(0px, 110px, 120px);
  }
}
