// https://theme-hope.vuejs.press/config/style.html
// config.scss is used for pure variable config, palette.scss is used for CSS variable injecting

// https://theme-hope.vuejs.press/config/style.html#color-config

$theme-color: #fce883;

$text-color: (
  light: #2c3e50,
  dark: #c4c8ef,
);

// $sidebar-width: 20px;
