// tags
html[data-theme="dark"] {
  // tags
  .tag-list-wrapper .tag {
    font-size: 1.1rem;
    background: map-get($tag-background-color, "dark") !important;
    color: map-get($tag-color, "dark");
    border-radius: 0.25rem;
    box-shadow: 0 1px 4px 0 var(--card-shadow);
    padding: 0.4rem 0.8rem;
    width: 4rem;
  }

  // categories
  .vp-category-list .vp-category {
    font-size: 1.1rem;
    background: map-get($tag-background-color, "dark") !important;
    color: map-get($tag-color, "dark");
    border-radius: 0.25rem;
    box-shadow: 0 1px 4px 0 var(--card-shadow);
    padding: 0.4rem 0.8rem;
    width: 4rem;
  }

  .vp-category .count {
    margin-left: 0.5rem;
    background: None;
    color: inherit;
    font-size: 1.1rem !important;

  }

  .page-tag-item {
    font-size: 0.85rem !important;
    color: black !important;
    // padding: 0.125rem 0.2rem 0.125rem 0.8rem !important;
    background: linear-gradient(to right, $tag-button-color 100%, transparent 0%) !important;
    clip-path: polygon(10px 0, 100% 0%, 100% 100%, 10px 99%, 0 50%) !important;
    min-width: 2rem;
  }

  .page-category-item {
    font-size: 0.85rem !important;
    color: black !important;
    background: linear-gradient(135deg, transparent 0.75em, $category-button-color 0) top, linear-gradient(45deg, #79222200 0.75em, $category-button-color 0) bottom !important;
  }
}
